<div class="container">
<div class="jumbotron">
	<h1>Welcome To Rap City <small>I think you'll like it.</small></h1>
	<p>This is the Home of the latest rap hip hop song in the World</p>
	<p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
	<p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
</div>
